<div class="row">
  <div class="col-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12 col">
    <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
      <div class="float-left">
        <!-- string interpolation -->
        <h4 class="list-group-item border-0 pl-0">{{ recipe.name }}</h4>
        <p class="list-group-horizontal">{{ recipe.description }}</p>
      </div>
      <span class="float-right">
        <!-- property binding -->
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-fluid" style="max-height: 50px;">
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>